/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

body {
  padding: 20px;
  background-color: $bgcolor;
}

textarea {
  width: 100%;
  min-height: 60px;
  resize: none;
}

form {
  margin-top: 10px;
}

.message {
  margin-top: 20px;
  background-color: $light-gray;
  @include borderize();
  @include border-radius(4px, 4px);
  margin-bottom: 20px;
}

.avatar {
  margin:15px;
  margin-bottom: 20px;
  float: left;
  @include borderize();
  position: relative;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    max-width: 60px;
    max-height: 60px;
  }

  @media (min-width: $screen-sm-min) {
    max-width: 90px;
    max-height: 90px;
  }
}

.name {
  @include addTopBottomSpace(7px);
}

.message-body, reactie-body {
  float: left;
  padding:12px;

  @media (max-width: $screen-xs-max) {
    @include calc(width, "100% - 105px");
  }

  @media (min-width: $screen-sm-min) {
    @include calc(width, "100% - 155px");
  }
}

.reactie {
  padding-left: 55px;
  @include clearfix;
  .reactie-body {
    margin-top:15px;
  }
}

